@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  background: url("../public/istockphoto-1463371608-2048x2048.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.06);
  transition: all 400ms ease-in-out;
  cursor: pointer;

  @apply focus:ring-blue-500;
}

.more:hover {
  background-color: rgb(158, 141, 131);
  border: none;
}

.zero:hover {
  background-color: rgb(158, 141, 131);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(158, 141, 131);
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) ease-in-out;
  box-shadow: 0 10px 20px rgba(162, 217, 164, 0.19),
    0 6px 6px rgba(118, 113, 37, 0.43);
  transform: scale(1.03);
  border-radius: 8px;
}

.cardAdd {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  background-color: rgb(255, 255, 255, 0.3);
  border: none;
  font: bold;
  cursor: pointer;

  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) ease-in-out;
  box-shadow: 0 10px 20px rgba(162, 217, 164, 0.32),
    0 6px 6px rgba(108, 113, 37, 0.13);
  transform: scale(1.03);
  border-radius: 18px;
  margin-bottom: 20px;
}

@media (max-width: 608px) {
  .cardAdd {
    width: 60%;
  }
}
